{% include 'v_header.html' %}
<div class="row">
    <div class="col-sm-12 col-xs-12 border p-3 m-0">
        <div class="d-flex justify-content-around flex-wrap" >
            {% for figure in content_data %}
            <div class="card p-1 m-1" style="width: 16rem;">
                <h4 class="card-title">ID: {{figure.id}}</h4>
                <h5 class="card-title">Type: {{figure.type}}</h5>
                <h5 class="card-title">Area: {{figure.area}}</h5>
                <div class="card-title">Created at: {{figure.date}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'v_footer.html' %}