{% include 'v_header.html' %}
<div class="row">
    <div class="col-sm-12 col-xs-12 border p-3 m-0">
        <div class="d-flex justify-content-around flex-wrap" id="goodsList">
            {% for good in content_data %}
            <div class="card p-1 m-1" style="width: 16rem;">
                <h5 class="card-title">ИД фигуры: {{good.id}}</h5>
                <h5 class="card-title">Название фигуры: {{good.type}}</h5>
                <h5 class="card-title">Площадь фигуры: {{good.id}}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'v_footer.html' %}