{% include 'v_header.html' %}
<div class="row">
    <div class="col-sm-12 col-xs-12 border p-3 m-0">
        <div class="d-flex justify-content-around flex-wrap">
            <div class="col-sm-2 col-xs-2 border p-3 m-0"> 
                <form>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="shapeRadios" id="circle" value="circle" checked>
                    <label class="form-check-label" for="circle">
                        Circle
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="shapeRadios" id="trinagle" value="trinagle">
                    <label class="form-check-label" for="trinagle">
                        Trinagle
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="shapeRadios" id="rectangle" value="rectangle">
                    <label class="form-check-label" for="rectangle">
                        Rectangle
                    </label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Select shape</button>
                </form>
            </div>
            <div class="col-sm-6 col-xs-6 border p-3 m-0"> 
            
            </div>
        </div>
    </div>
</div>
{% include 'v_footer.html' %}